* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_container {
    background-color: black;
    height: 50px;
}

.navigation {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav li {
  color:white;
  cursor:pointer;
}
.navigation h1 {
    color: white;
}
